/Academic_Exchange_Platform/nbproject/private/
/Academic_Exchange_Platform/nbproject/project.properties
/Academic_Exchange_Platform/dist/
/Academic_Exchange_Platform/build/
/Academic_Exchange_Platform/src/java/dao/DatabaseConnectionUtil.java
